﻿*{
  box-sizing:border-box;

}
body{
    margin:0;
    background :gray;
    

}
nav{
    background:#594848;
    width:100%;
    overflow:auto;

}
ul{
    margin:0;
    padding:0;
    list-style:none;
  
}
li{
    float:left;
}
nav a {
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: center;
    background: #594848;
    font-size: 17px;
    color: white;
    padding: 20px 10px;
    font-family: Arial;
}
nav a:hover{
    background:skyblue;
    color:black;


}


.title h1 {
    text-align: center;
    font-size: 40px;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

.image {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;

}






